/****************************************************************************************/
/****************************************ROOT********************************************/
/****************************************************************************************/

:root {
  --gridMaxWidth: 20rem;
  --gridWidth: 90%;
  --anchorColor: #eee;
  --formFieldMargin: 0.875rem;
  --loginBorderRadus: 0.25rem;
  --loginColor: #eee;
  --loginInputBackgroundColor: #3b4148;
  --loginInputHoverBackgroundColor: #434a52;
  --loginLabelBackgroundColor: #363b41;
}

/****************************************************************************************/
/***************************************FORM*********************************************/
/****************************************************************************************/

.align {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--gridMaxWidth);
  width: var(--gridWidth);
}


.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

a {
  color: var(--anchorColor);
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}


input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}

button {
  cursor: pointer;
  margin: auto;
}

.form {
  margin: calc(var(--formFieldMargin) * -1);
}

.form input[type='password'],
.form input[type='text'],
.form input[type='submit'] {
  width: 100%;
}

.form__field {
  display: flex;
  margin: var(--formFieldMargin);
}

.form__input {
  flex: 1;
}

.login {
  color: var(--loginColor);
}

.login label,
.login input[type='text'],
.login input[type='password']{
  border-radius: var(--loginBorderRadus);
  padding: 1rem;
}

.login label {
  background-color: var(--loginLabelBackgroundColor);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.login input[type='password'],
.login input[type='text'] {
  background-color: var(--loginInputBackgroundColor);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.login input[type='password']:focus,
.login input[type='password']:hover,
.login input[type='text']:focus,
.login input[type='text']:hover {
  background-color: var(--loginInputHoverBackgroundColor);
}

.form__file{
  display: flex;
  align-items: center;
  margin: var(--formFieldMargin);
}

textarea#login__email {
  background-color: #3b4148;
  border: none;
  color: white;
}

.textarea label{
  display: flex;
  align-items: center;
}
