/*  */
/* PAGE PRODUCTS */
/*  */
.line{
  padding: 20px;
  text-align: center;
  text-transform: capitalize;
  border: 8px solid #0f0f0f;
  margin-bottom: 20px;
}


.line a {
  display: flex;
  flex-direction: column;
  transition: all 200ms;
}

.line a:hover{
  color: red;
}

.list-lines {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}

.line img {
  width: 324px;
  margin-bottom: 20px;
}

.search-form {
  border: none;
  margin-top: 30px;
}

[type="search"] {
  border: none;
  color: white;
  background-color: #25282b;
  padding: 10px 5px;
  width: 15%;
}


.submit{
  border: none;
  color: white;
  background-color: #25282b;
  padding: 10px;
}

/*  */
/* PAGE SEARCH */
/*  */

.product-list li:last-of-type {
  margin-top: auto;
}

.product-list {
  display: flex;
  flex-direction: column;
  width: 30%;
}


.products {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

.product-list a li{
  margin-top: 20px;
}

.product-list img{
  width: 430px;
}

.basket-form {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
}

[type="number"] {
  width: 30%;
}

span.over {
  text-decoration: line-through;
  color: red;
  text-decoration-color: white;
}

/*  */
/* PAGE DETAIL */
/*  */


.product li:nth-of-type(2) {
  text-align: justify;
  line-height: 1.7;
  margin: 25px 0;
}

.product-detail {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
