/****************************************************************************************/
/**********************************REGLES GENERALES***************************************/
/****************************************************************************************/

*{
  box-sizing: border-box;
  /* outline: 1px solid yellow; */
}

html{
  scroll-behavior: smooth;
  position: relative;
  z-index: 1;
}

img{
  object-fit: cover;
  max-width: 100%;
}

/****************************************************************************************/
/*************************************ANIMATIONS******************************************/
/****************************************************************************************/

@keyframes bounce {
  0%{
    top:-25px;
  }
  50%{
    top:7px;
  }
  75%{
    top:-12px;
  }
  100%{
    top:0px;
  }
}

body{
  background-color: #2c3338;
  color: white;
  transition: all 500ms;
}

/****************************************************************************************/
/***************************************HEADER********************************************/
/****************************************************************************************/

.header-main {
  text-align: center;
}

h1.title.title-main {
  color: red;
  font-family: 'Dosis', sans-serif;
}

/****************************************************************************************/
/****************************************NAV*********************************************/
/****************************************************************************************/

nav.nav-main {
  background-color: rgba(30,30,30,0.5);
  padding: 7px;
  transition: all 500ms;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-list a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: all 500ms;
}


ul {
  list-style-type: none;
}

ul.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

li.element {
  text-transform: uppercase;
  color: white;
  transition: all 500ms ;
}

li.element a:hover {
  color: red;
}

.element:hover {
  color: red;
}

ul.nav-list li.element:last-of-type {
  margin-right: 30px;
}

.element-hide {
  cursor: pointer;
  width: 18%;
}

li.element.under-list {
  position: relative;
}
ul.second-list {
  position: absolute;
  top: 40px;
  padding: 10px;
  z-index: 50;
  background-color: rgb(15, 15, 15);
  line-height: 2;
  transition: all 500ms
}

h2.title.title-page {
  text-align: center;
}

ul.second-list.contact {
  line-height: 0;
  width: 70%;
}

ul.user {
  left: -24px;
}

ul.contact {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

i.fas.fa-shopping-cart {
  font-size: 1.9rem;
}

.hide {
  transform: scale(0);
}

a {
  background-color: transparent;
  text-decoration: none;
  color: white;
}

/****************************************************************************************/
/*************************************MOBILE NAV******************************************/
/****************************************************************************************/

.nav-bar-mobile {
  display: none;
  position: fixed;
  top: 0;
  background-color: rgba(255,255,255,0.1);
  z-index: 10;
  color: black;
}

.nav-bar-mobile i {
  padding: 15px;
  width: 100%;
}

.nav-bar-mobile .nav-column {
  z-index: 10;
  background-color: rgba(255,255,255,0.1);

}

.nav-bar-mobile .nav-column a {
  display: block;
  color: black;
  text-decoration: none;
  transition: all 500ms;
}

.nav-bar-mobile .nav-column a:hover{
  color: red;
}

.move-aside{
  display: none;
}

/****************************************************************************************/
/*************************************CONTAINER******************************************/
/****************************************************************************************/


.container{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/****************************************************************************************/
/***************************************FOOTER********************************************/
/****************************************************************************************/

.footer-main{
  text-align: center;
  padding: 20px;
  background-color: #0f0f0f;
  margin-top: 20px;
}

.top{
  position: relative;
  right: -300px;
}

/****************************************************************************************/
/***************************************POP UP********************************************/
/****************************************************************************************/

p#closePopUpError,
#closePopUpProduct {
  position: absolute;
  right: 20px;
  top: 0;
  cursor: pointer;
}

div#errorPopUp,
#productPopUp,
#passagePopUp {
  position: fixed;
  top: 10px;
  z-index: 100;
  left: 450px;
  background-color: black;
  padding: 10px 140px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#passagePopUp{
  top: 390px;
}

div#errorPopUp img,
#productPopUp img{
  width: 760px;
}

div#errorPopUp button,
#productPopUp button,
#passagePopUp button{
  align-self: center;
  margin-top: 20px;
}

em#itemBasket {
  position: absolute;
  top: 25px;
  right: 46px;
  color: black;
}


/****************************************************************************************/
/*************************************RESPONSIVE******************************************/
/****************************************************************************************/

@media (max-width:1440px) {
  #passagePopUp{
    top: 190px;
  }
}

@media (max-width:1024px) {

  div#errorPopUp,
  #productPopUp,{
    left: 250px;
  }

  #passagePopUp{
    left: -28px;
  }

}

@media (max-width:1024px) {
  .top{
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
  ul.second-list.contact {
    width: 120%;
  }
  .user{
    width: 150%;
  }
  em#itemBasket {
    top: 28px;
  }
  div#errorPopUp,
  #productPopUp,
  #passagePopUp {
    top: 30px;
    left: 172px;
  }
  div#errorPopUp img,
  #productPopUp img{
    width: 610px;
  }
}

@media (max-width:800px) {
  .nav-main{
    display: none;
  }

  .nav-bar-mobile{
    display: block;
  }
}

@media (max-width: 425px) {
  div#errorPopUp img, #productPopUp img {
    width: 340px;
  }
  div#errorPopUp, #productPopUp, #passagePopUp {
    top: 100px;
    left: 40px;
    padding: 4px 3px;
  }
  #passagePopUp{
    left: 0;
  }
}
