/****************************************************************************************/
/************************************SUCCESS PAGE*****************************************/
/****************************************************************************************/

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cross-fade{
  background-color: #df0633;
  margin-bottom: 10px;
}
